In [15]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

In [16]:
# -m running module as a script and -U upgrading 
!{sys.executable} -m pip install -U ydata-profiling[notebook]

'{sys.executable}' is not recognized as an internal or external command,
operable program or batch file.

In [17]:
!{sys.executable} -m pip install -U sweetviz

'{sys.executable}' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
from ydata_profiling import ProfileReport

In [5]:
import sweetviz as sv

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [6]:
#Read in the csv file and convert to a Pandas dataframe
df = pd.read_csv('Jadarat_data.csv')

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [7]:
# We have 1470 rows and 18 columns
df.shape

(1470, 18)

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [8]:
df.head()

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,"['Language data', 'اللغة الانجليزية', 'محترف']",الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both
1,بائع,27/05/1444,['بيع مجموعة من السلع والخدمات للعملاء، وتوفير...,"[' بيع مجموعة من السلع والخدمات للعملاء.', '...",شركة عالم الكهرباء للمقاولات,4-1324428,خاص,متوسطة فئة ب,تركيب انظمة التبريد وتكييف الهواء وصيانتها واص...,NaN,المنطقة الشرقية,AD DAMMAM...,"['Salary', '5000.0']",دوام كامل,0 / 3,20202026350389,0 Years,both
2,أخصائي عمليات موارد بشرية,27/05/1444,['تنفيذ الإجراءات والأنظمة والنماذج الخاصة بمر...,[' تنفيذ الإجراءات والأنظمة والنماذج الخاصة ...,شركه دار السلام,1-155294,خاص,متوسطة فئة أ,ترميمات المباني السكنية والغير سكنية,"['Language data', 'الانجليزيه', 'محترف']",الرياض,ATH THUMA...,"['Salary', '4000.0']",دوام كامل,0 / 2,20202026350347,2 Years,both
3,ميكانيكي سيارات,27/05/1444,['تشخيص أعطال السيارات وإصلاحها وتنفيذ برامج ا...,[' فحص أداء المعدّات الكهربائية والميكانيكية...,مؤسسة لمكو لغيار الزيوت,8-1925495,خاص,صغيرة فئة ب,NaN,"['Skill data', 'صيانة السيارات وتقييم الاعطال'...",المنطقة الشرقية,AL HUFUF...,"['Salary', '5000.0']",دوام كامل,0 / 10,20202026350219,0 Years,M
4,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,مؤسسة فكرة اليمامة للمقاولات,1-2356639,خاص,كبيرة,الإنشاءات العامة للمباني السكنية,"['Skill data', 'تحمل ضغط العمل', 'محترف', 'Lan...",الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350043,0 Years,both

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [9]:
# Yes data is reliable since it was collected from the data source Jadarat and mentioned it in Kaggle

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [10]:
# Data is not considered up to date since its last update was in 2023, and the last job dates posted in Jadarat were in 2024
# But since our objective questions didn't focused on the last updated year, and last updated 2023 seemms close to last updated in Jadarat
# I will continuou working in this dataset

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [11]:
# Since we have here one dataset file it's consistent, and for the data source

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [12]:
# Yes, the dataset sample is relevant to the objective questions and for the columns:
# Job date is not useful for us and we won't get any insight from it because the end user looking for an analysis
# doesn't want to know about which data posted but more about which jobs and posistions related to other factors

df.columns

Index(['job_title', 'job_date', 'job_desc', 'job_tasks', 'comp_name',
       'comp_no', 'comp_type', 'comp_size', 'eco_activity', 'qualif', 'region',
       'city', 'benefits', 'contract', 'positions', 'job_post_id', 'exper',
       'gender'],
      dtype='object')

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

In [27]:
df.duplicated().sum()

1

In [13]:
df[df.duplicated()]
# since this job position is duplicated from the same company i will drop it

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
1469,صيدلي,18/06/1444,['دراسة التركيبات الدوائية للعقاقير والعلاجات ...,[' دراسة مواصفات وتركيبات الادوية والعقاقير ...,شركة تقنية الدواجن والألبان للتجارة,1-2415250,خاص,صغيرة فئة ب,NaN,"['Professional certificate \\ License data', '...",الرياض,AR RIYADH...,"['Salary', '7000.0']",دوام كامل,0 / 1,20202026399061,0 Years,both

In [14]:
df.duplicates()

AttributeError: 'DataFrame' object has no attribute 'duplicates'

In [ ]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [ ]:
#Display number missing values per column
df.isnull().sum()
# We can see that column comp_size has 14 null calues, eco_activity has 83, and qualif has 667 which is huge

In [ ]:
def check_nulls(x):
    return x in ['/', ' ', '-']
    
null_values = df.applymap(check_nulls)

rows_with_nulls = df[null_values.any(axis=1)]

rows_with_nulls # there is no null values as space or dash or slash

In [ ]:
# go to clean them

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [ ]:
# check columns types 
# it shows that positions column needs to change to an int, because 0/number doesn't give any meaning and it might give confusion
# and also the benifits column which is the salary
df.dtypes

In [ ]:
df.head()

In [ ]:
# go to clean them

In [ ]:
# checking EDA advanced analysis

In [ ]:
# this report gives a comprehensive analysis of the dataset but in my opinion it's not showing the whole analysis of the important EDA steps
# and because the values are in arabic language which affects the analysis 
ProfileReport(df, title='Employement of Jadarat Report in KSA', explorative=True)

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [ ]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [ ]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [ ]:
# check outliers: down in the data cleaning

In [ ]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [ ]:
# drop irrelevant columns
# dropping job date column
df.drop(columns=['job_date'], inplace=True)

In [ ]:
# drop dulicates
df.drop_duplicates(inplace=True)
df.shape  # we can see that we dropped our duplicates

In [ ]:
# dealing with nulls

# comp_size        14
# eco_activity     83
# qualif          667

df[df['comp_size'].isnull()]

In [ ]:
df['comp_size'].isnull().sum()

In [ ]:
df[df['eco_activity'].isnull()]

In [ ]:
df[df['qualif'].isnull()]

In [ ]:
# to deal with these null values i will fill them with '!مجهول' 
# because it might be null because the company didn't fill these details that were not mandatory to fill

In [ ]:
# 1st cleaning column: comp_size

df['comp_size'] = df['comp_size'].fillna('!مجهول')
df[df['comp_size'].isnull()]

In [ ]:
# 2nd cleaning column: eco_activity

df['eco_activity'] = df['eco_activity'].fillna('!مجهول')
df[df['eco_activity'].isnull()]

In [ ]:
# 3rd cleaning column: qualif

df['qualif'] = df['qualif'].fillna('!مجهول')
df[df['qualif'].isnull()]

In [ ]:
# change 'positions' column data type
# 1st I will split the values from / and keep only the number

#df['positions'] = df['positions'].map(lambda r: r.split('')[0])
df['positions'] = df['positions'].map(lambda r: r.split('/')[1] if '/' in r else r)

In [ ]:
df.head()

In [ ]:
# changing data type of positions to int
df['positions'] = df['positions'].astype(int)

In [ ]:
df['benefits']

In [ ]:
#df['benefits'].map(lambda r: r.split('Salary')[1] if 'Salary' in r else r)

In [ ]:
import ast
# i converted the benifits column to a list so i can extract the second element (the salary number) and change it to a float for further analysis 
df['benefits'] = df['benefits'].apply(ast.literal_eval)
df.head()

In [ ]:
# extracted the second index and converting the number to float
df['benefits'] = df['benefits'].apply(lambda r: float(r[1]))

In [ ]:
df['benefits']

In [ ]:
df.dtypes

In [ ]:
df.head()

### Correcting errors

-------------------

In [ ]:
# ckecking outliers

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
# checking
emp_report = sv.analyze(df)
emp_report.show_html('Sweetviz_Report.html')

In [ ]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.

## Q1: What proportion of job postings is attributed to each region within the kingdom?

In [ ]:
# it shows that Riyadh has the maximum number of job postings because it's the capital city of KSA, 
# after that Makkah comes which made me suprised! i thnk it has max number because now everyone can easily visit saudi and do hajj and umrah and that affects on the market their too
df['region'].value_counts()

In [ ]:
#plt.rcParams['font.family'] = 'Noto Sans Arabic'

## Q2: Is there a gender preference indicated in the job postings?

In [ ]:
# yes as the data show there are many companies that prefer to hire males than females, and this might lead to another question
# which jobs are most likely they prefer to hire males? or females?
gender_counts = df['gender'].value_counts()
gender_counts

In [ ]:
plt.figure(figsize=(10,6))
plt.barh(gender_counts.index, gender_counts.values, color='skyblue')  # Plot horizontal bar chart

plt.barh(gender_counts.index, gender_counts.values, color='mediumpurple'
         
)
plt.xlabel('Job Posings')
plt.ylabel('Gender Preference')
plt.show()

## Q3: What is the expected salary range for fresh graduates?

In [ ]:
# first let's see the fresh grad who have 0 experience because they just got graduated
df_fresh_grad = df[df['exper'] == '0 Years']

In [ ]:
# then let's see the min and max salary of them
min_salary = df_fresh_grad['benefits'].min()
max_salary = df_fresh_grad['benefits'].max()

print('The range salary of fresh graduates is around: ', max_salary , ' and ', min_salary) 
# which is in reality seems real

## Q4: Are job opportunities predominantly targeted at individuals with experience, or is there room for fresh graduates as well?

In [ ]:
# as it shows here, the number of job posting with 0 experience that most likely targets fresh graduates is 805 posting
df_fresh_grad['exper'].value_counts()

In [ ]:
df_with_exp = df[df['exper'] >= '1 Years']

In [ ]:
df_with_exp['exper'].unique()

In [ ]:
# and for the job postings with 1 year or more experience is 619, which leads that alway a room for fresh graduates
# and i think the reason is because the salary won't be high like the ones with experience 
df_with_exp['exper'].value_counts().sum()

## Q5:  Which jobs are most likely they prefer to hire males? or females?

In [ ]:
# filtering females job postings
female_pref = df[df['gender'] == 'F']['job_title']
female_pref.value_counts().sum()

In [ ]:
# we can see here that accountant is the most job post that they prefer females for it 
female_pref.value_counts()

In [ ]:
female_pref.unique()

In [ ]:
# filtering males job postings
male_pref = df[df['gender'] == 'M']['job_title']
male_pref.value_counts().sum()

In [ ]:
# we can see here that salesman job is what they prefer for males as a job posting
male_pref.value_counts()

In [ ]:
male_pref.unique()